* {
  box-sizing: border-box;
}
html,
body {
  background-color: #ddd;
}
.slider {
  position: relative;
  width: 300px;
  height: 718px;
  margin: 0px auto 0;
  user-select: none;
  touch-action: pan-y;
}

.slider-list {
  width: 300px;
  height: 718px;
  overflow: hidden;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing {
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.slide {
  width: 300px;
  height: 718px;
  flex-shrink: 0;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide.over {
  overflow-y: auto;
}

p {
  margin: 2px;
  font-size: 15px;
  color: black;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: pre-wrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}

textarea {
  margin-top: 50px;
  min-height: 90px;
  width: 220px;
  resize: none;
  padding: 0;
  margin-bottom: 10px;
}
.text {
  width: 220px;
  word-wrap: break-word;
}
.btn {
  width: 220px;
  height: 50px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s all;
  outline: 0;
}

.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 36px;
  font-weight: 400;
}

.current-timer {
  width: 50%;
  overflow-y: none;
}

.current-timer .timer {
  margin-top: 35px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-timer .timer-block {
  width: 102px;
  height: 120px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.current-timer .timer-block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700;
}

@media screen and (max-width: 414px) {
  .slider {
    height: 670px;
  }

  .slider-list {
    height: 670px;
  }

  .slide {
    height: 670px;
  }
}

@media screen and (max-width: 390px) {
  .slider {
    height: 640px;
  }

  .slider-list {
    height: 640px;
  }

  .slide {
    height: 640px;
  }
}
@media screen and (max-width: 360px) {
  .slider {
    height: 550px;
  }

  .slider-list {
    height: 550px;
  }

  .slide {
    height: 550px;
  }
}
